# ── SimFin ──────────────────────────────────────────────────────────────────
SIMFIN_API_KEY=

# ── Pinecone ─────────────────────────────────────────────────────────────────
PINECONE_API_KEY=
PINECONE_INDEX_NAME=
VECTORSTORE_PROVIDER=

# ── LLM provider ─────────────────────────────────────────────────
LLM_PROVIDER=
ANTHROPIC_API_KEY=

